* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: #CFE2D8;
    /* flex: 1; */
    width: 250px;
    /* order: 2; */
    padding: 24px;
    border-right: 2px solid #72A586;
}

#sidebar-content h2 {
    border-bottom: 2px solid #72A586;
    padding-bottom: 8px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: #111111;
    text-decoration: none;
}

#sidebar-content li {
    padding: 4px 0px;
}

#main-content {
    /* background-color: lightgreen; */
    flex: 1;
    max-width: 800px;
    /* order: 1; */
    padding: 48px;
}