#palette1-title1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette1-color1 {
    background-color: #BCD979;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette2-title2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette2-color2 {
    background-color: #9DAD6F;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette3-title3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette3-color3 {
    background-color: #7D6D61;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette4-title4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette4-color4 {
    background-color: #C9DDFF;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette5-title5 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette5-color5 {
    background-color: #DE6C83;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette6-title6 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette6-color6 {
    background-color: #C1AAC0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette7-title7 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette7-color7 {
    background-color: #FFBC42;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette8-title8 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette8-color8 {
    background-color: #D81159;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette9-title9 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,sans-serif;
    text-align: center;
}
#palette9-color9 {
    background-color: #8F2D56;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}