* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#page-layout {
    display: grid;
    grid-template-columns:600px 250px 250px;
    grid-template-areas:
        "column-one column-two column-three";
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
}

#sidebar ul a {
    text-decoration: none;
    color: #111111;
    padding: 12px;
    display: block;
}

#sidebar ul a:hover {
    background-color: lightblue;
    border-radius: 12px;
}

#column-one {
    flex-direction: column;
    grid-area: column-one;
    padding: 150px;
    width: 100%;
}
img {
    width: 100%;
}

#column-two {
    flex-direction: column;
    grid-area: column-two;
    margin-right: 90px;
}

#column-three {
    flex-direction: column;
    grid-area: column-three;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: left;
}

#column-three p {
    font-size: small;
    color: blue;
    text-decoration: underline;
}