* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.background-home {
    background-color: burlywood;
    padding: 48px 0px;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../image/homepage-hero.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* ********Three Pages********* */

#navbar {
    background: #e6d71f;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #335E76;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#logo img {
    width: 150px;
}

#navbar a:hover {
    background: linear-gradient(to top, rgb(230,215,31), #cebd2c);
}

.background {
    background-color: #cebd2c;
    padding: 48px 0px;
}

#featured-item img {
    width: 50%;
    min-width: 400px;
    max-width: 1200px;
    display: block;
    margin: auto;
    margin-top: 60px;
}

#featured-item {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 100px;
    padding-inline: 60px 60px 60px;
    background-color: #DBAED1;
}

#menu img {
    width: 48%;
    min-width: 50px;
    max-width: 1200px;
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#menu {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    background-color: #DBAED1;
    padding: 30px;
}

#menu h2 {
    margin-bottom: auto;
}

#entrees img {
    width: 48%;
    min-width: 50px;
    max-width: 1200px;
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#entrees {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    background-color: #DBAED1;
    padding: 30px;
}

#entrees h2 {
    margin-bottom: auto;
}

#desserts img {
    width: 48%;
    min-width: 50px;
    max-width: 1200px;
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#desserts {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    background-color: #DBAED1;
    padding: 30px;
}

#desserts h2 {
    margin-bottom: auto;
}

@media screen and (max-width: 870px) {
    #navbar {
        flex-direction: column;
    }

    #logo {
        margin-left: auto;
    }
}