* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.background-home {
    background-color: burlywood;
    padding: 48px 0px;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../image/homepage-hero.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* ********Three Pages********* */

#navbar {
    background: #e6d71f;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #335E76;
    padding: 12px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#logo img {
    width: 110px;
}

#title {
    font-family: "mystery quest";
    font-size: 35px;
}

#navbar a:hover {
    background: linear-gradient(to top, rgb(230,215,31), #cebd2c);
}

.background {
    background-color: #cebd2c;
    padding: 48px 0px;
}

#hero-3 {
    background-image: url(../image/orange-wildflowers.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero img {
    height: 10ovh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

#featured-item img {
    width: 90%;
    min-width: 400px;
    max-width: 1200px;
    display: block;
    margin: auto;
    margin-top: 60px;
}

#featured-item {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 800px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 100px;
    padding-inline: 60px 60px 60px;
    background-color: #DBAED1;
    padding: 40px;
}

#menu img {
    width: 48%;
    min-width: 50px;
    max-width: 1200px;
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#menu {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    background-color: #DBAED1;
    padding: 30px;
}

#menu h2 {
    margin-bottom: auto;
}

#menu ul {
    padding-right: 50px;
}

#entrees img {
    width: 48%;
    min-width: 50px;
    max-width: 1200px;
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#entrees {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    background-color: #DBAED1;
    padding: 30px;
}

span {
    font: "mystery quest";
}

#entrees h2 {
    margin-bottom: auto;
}

#entrees ul {
    padding-right: 40px;
}

#desserts img {
    width: 48%;
    min-width: 50px;
    max-width: 1200px;
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#desserts {
    text-align: center;
    border: 5px solid #335E76;
    border-radius: 30px;
    width: 50%;
    min-width: 500px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    background-color: #DBAED1;
    padding: 30px;
    margin-bottom: 150px;
}

#desserts h2 {
    margin-bottom: auto;
}

#desserts ul {
    padding-right: 40px;
}

#footer {
    background: #e6d71f;
    color: #335E76;
    padding: 12px;
}
    
#footer a {
    text-decoration: none;
    color: #335E76;
}
    
#footer-navbar {
    width: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

@media screen and (max-width: 520px) {
    #navbar {
        flex-direction: column;
    }

    #logo {
        margin-left: auto;
    }


    #featured-item {
        min-width: 350px;
        max-width: 1200px;
        padding: 8px;
        display: block;
    }

    #featured-item img {
        min-width: 250px;
        max-width: 120px;
    }

    #featured-item h2 {
        font-size: medium;
    }

    #menu,
    #entrees,
    #desserts {
        min-width: 350px;
        max-width: 1200px;
    }

    #menu img,
    #entrees img,
    #desserts img {
        display: flex;
        min-width: 90%;
        max-width: 50%;
    }

    #footer-navbar {
        width: 400px;
        margin: 0px auto;
        justify-content: space-between;
        margin-bottom: 0px;
        display: inline;
        margin: auto;
    }
}