* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: burlywood;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;
}

#sidebar-content {
    /* background-color: lightblue; */
    grid-area: sidebar;
    padding:18px;
}

#sidebar-content h2 {
    background-color: darkolivegreen;
    color: white;
    margin: 0px;
    padding: 12px;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: #EFEFEF;
    border: 1px solid darkslategray;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a {
    color: darkslategray;
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid darkslategray;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    /* background-color: lightcoral; */
    grid-area: content;
    margin: 0px 36px;
}